<h2>Здания</h2>

<table>
  <thead>
  <tr>
    <th class="town_id">id</th>
    <th>Город</th>
    <th>Улица</th>
    <th>№ здания</th>
    <th>Тип здания</th>
  </tr>
  </thead>

  <tbody>
  <% @towns.each do |town| %>
      <tr>
        <td><div class="town_id"><%= town.id %></div></td>
        <td><div class="town"><%= town.town_name %></div></td>
        <% @streets.each do |street| %>
            <% if town.id == street.town_id %>
              <tr>
                <td><div class="street_id"><%= street.id %></div></td>
                <td></td>
                <td><div class="street" title="<%= town.town_name %>"><%= street.street_name %></div></td>
                <% @buildings.each do |building| %>
                    <% if street.id == building.street_id %>
                      <tr>
                        <td><div class="building_id"><%= building.id %></div></td>
                        <td></td>
                        <td></td>
                        <td><div class="building_number" title="<%= town.town_name %>, <%= street.street_name %>"><%= building.number %></div></td>
                        <td>
                          <div class="building_type" title="<%= town.town_name %>, <%= street.street_name %>">
                            <% if building.have_flet? %> Квартиры <% else %> Особняк <% end %>
                          </div>
                        </td>
                        <td>
                          <div class="link"><%= link_to 'Показать', building %></div>
                          <div class="link"><%= link_to 'Изменить', edit_building_path(building) %></div>
                          <div class="link"><%= link_to 'Удалить', building, method: :delete, data: { confirm: 'Вы уверены?' } %></div>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tr>
          <% end %>
      <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="link"><%= link_to 'Новое здание', new_building_path %></div>
<div class="link"><%= link_to 'На главную', main_index_path %></div>